html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: rgb(66, 139, 202);
  text-decoration: none;
}

.header {
  background: url(images/pattern.jpg) top left repeat;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 50px;
}

.footer {
  background: url(images/pattern.jpg) top left repeat;
  margin-top: 50px;
  height: 60px;
  border-top: 1px solid rgb(0, 0, 0);
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
}

.header .title {
  padding-top: 15px;
}

.header .title .main {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
}

.header .title .sub {
  font-size: 14px;
  line-height: 24px;
}

.header .title .link {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
}

.header .title a {
  color: rgb(0, 0, 0);
}

.header .menu {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.header .menu .entry {
  font-size: 14px;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.header .menu a {
  color: rgb(66, 139, 202);
}

.header .menu .on {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-bottom-color: rgb(255, 255, 255);
}

.header .menu .on a {
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("header/glyphicons-halflings-regular.woff2") format("woff2");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.footer .copyright {
  margin-top: 6px;
  font-size: 12px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.page a {
  font-size: 14px;
}

.page .profil .table {
  display: grid;
  grid-template-columns: 200px auto;
  grid-row-gap: 10px;
}

.page .profil .table div {
  font-size: 14px;
  line-height: 12px;
}

.page .kontakt label {
  font-size: 14px;
  font-weight: 700;
}

.page .kontakt .table {
  display: grid;
  grid-template-columns: 100px auto;
  grid-row-gap: 10px;
}

.page .kontakt .table div {
  font-size: 14px;
  line-height: 12px;
}

.page .kontakt input {
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 15px;
}

.page .kontakt .submitButton {
  width: auto;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background-color: rgb(85, 85, 85);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 4px;
  cursor: pointer;
}

.page .kontakt .response {
  font-size: 14px;
}

.page .kontakt textarea {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
}

.page .kontakt .hide {
display: none
}

.page .impressum .hide {
display: none
}

.page .start .gallery {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-column-gap: 27px;
  grid-row-gap: 27px;
}

@media only screen and (max-width: 1040px) {
  .page .start .gallery {
    grid-template-columns: 230px 230px 230px;
  }
}

@media only screen and (max-width: 790px) {
  .page .start .gallery {
    grid-template-columns: 230px 230px;
  }
}

@media only screen and (max-width: 290px) {
  .page .start .gallery {
    grid-template-columns: 230px 230px;
  }
}

.page .start .gallery img {
  width: 230px;
  height: 230px;
  filter: grayscale(100%);
}

.page .start .gallery img:hover {
  width: 230px;
  height: 230px;
  filter: none;
}

.sort {
  background-image: url(images/sort.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.sortUp {
  background-image: url(images/sortUp.svg);
}

.sortDown {
  background-image: url(images/sortDown.svg);
}

.page .projekte .table {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border: 1px solid rgb(255, 255, 255);
}

.page .projekte .table div {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  border-top: 2px solid rgb(161, 161, 161);
  border-right: 1px solid rgb(221, 221, 221);
}

.page .projekte .table div:nth-child(-n+5) {
  border-top: none;
  font-weight: 700; 
}

.page .projekte .table div:nth-child(5n) {
  border-right: none;
}

.page .projekte .table .blue {
  color: rgb(127,211,248);
  font-weight: 700;
}

.page .projekte .table .green {
  color:rgb(171,219,143);
  font-weight: 700;
}

.page .projekte .table .red {
  color:rgb(196,141,138);
  font-weight: 700;
}


.projekte-detail .carouselClip {
  max-width: 1000px;
  overflow: hidden;
}

.projekte-detail .carousel {
  display: flex;
  font-size: 12px;
  line-height: 17px;
  transition: transform 1s;
}

.projekte-detail .carousel img {
  height: 280px;
}

.projekte-detail .carousel > div {
  border: 1px solid rgb(221, 221, 221);
  padding: 5px;
  margin-right: 5px;
}

.projekte-detail .carouselNav {
  display: flex;
}

.projekte-detail .carouselNav > div {
  border: 1px solid rgb(221, 221, 221);
  margin-top: 5px;
  margin-right: 5px;
  font-size: 24px;
  line-height: 30px;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.page > div {
  display: none;
}

.page > .on {
  display: block;
}

.projekte-detail .tableB {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 1px solid rgb(255, 255, 255);
}

.projekte-detail .tableB div {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  border-top: 2px solid rgb(127,211,248);
  border-right: 1px solid rgb(221, 221, 221);
}

.projekte-detail .tableB div:nth-child(-n+8) {
  border-top: none;
  font-weight: 700; 
}

.projekte-detail .tableB div:nth-child(8n) {
  border-right: none;
}

.projekte-detail .tableG {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border: 1px solid rgb(255, 255, 255);
}

.projekte-detail .tableG div {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  border-top: 2px solid rgb(171,219,143);
  border-right: 1px solid rgb(221, 221, 221);
}

.projekte-detail .tableG div:nth-child(-n+7) {
  border-top: none;
  font-weight: 700; 
}

.projekte-detail .tableG div:nth-child(7n) {
  border-right: none;
}

.projekte-detail .tableR {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border: 1px solid rgb(255, 255, 255);
}

.projekte-detail .tableR div {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  border-top: 2px solid rgb(223, 157, 153);
  border-right: 1px solid rgb(221, 221, 221);
}

.projekte-detail .tableR div:nth-child(-n+7) {
  border-top: none;
  font-weight: 700; 
}

.projekte-detail .tableR div:nth-child(7n) {
  border-right: none;
}

.projekte-detail .tableB2 {
  display: grid;
  grid-template-columns: 125px auto;
  grid-row-gap: 0px;
}

.projekte-detail .tableB2 div {
  font-size: 14px;
  line-height: 20px;
}
